.caret
	display: inline-block
	vertical-align: middle  
	+arr(10,6,#000,b)
.btn_red
	padding: 10px 12px 
	width: 192px
	text-align: center
	color: #fff 
	border-radius: 4px
	+fbold
	font-size: 16px
	text-shadow: 0 1px 1px #6e1500  
	box-shadow: 0 2px 1px #961c00, inset 0 1px 1px #ffc2b4
	+background-image(linear-gradient(bottom, #c82700 0%, #e72d00 100%), linear-gradient(top, #e72d00 -48.23%, #c82700 -47.23%))
	&:hover
		color: #fff 
		+background-image(linear-gradient(bottom, #af2200 0%, #cf2a03 100%), linear-gradient(top, #e72d00 -48.23%, #c82700 -47.23%))
	&:active    
		color: #fff 
		box-shadow: inset 0 2px 5px #731600
		+background-image(linear-gradient(bottom, #b32200 0%, #c82700 100%), linear-gradient(top, #e72d00 -48.23%, #c82700 -47.23%))
	&:focus
		color: #fff  
		
.btn-group_simple
	.btn
		padding: 0
		border: 0
		&:active
			background: none
	&:hover
		.btn
			background: none 
		strong
			color: #db2b00  
	&.open
		strong
			color: #f00 
		&:hover
			.btn
				background: none 
			strong
				color: #f00 
	strong  
		display: inline-block
		margin-right: 3px
		border-bottom: 2px dotted rgba(61,46,46,.4) 
		font-weight: normal
		+fbold
		line-height: 1.1
		color: $dark_gray 
		font-size: 15px  
	.icon
		position: relative
		top: -4px
		margin-right: 3px
	.dropdown-menu
		margin-top: 10px
		padding: 0
		overflow: hidden
		border-radius: 3px
		box-shadow: 0 1px 1px rgba(0,0,0,.2) 
		border: 0
		li
			border-top: 1px solid #dfdfdf
			&:first-child
				border-top: 0
		a
			padding: 8px 16px 8px 24px 
			font-size: 14px
			color: $dark_gray
		sup
			color: #7f7f7f 
		
.input-group_search
	position: relative
	display: block
	.form-control
		display: block
		padding: 6px 34px 6px 16px 
		float: none
		width: 100%
		+box
		border-radius: 3px
		background: #fff
		+fbold
		height: 43px
		font-size: 16px
		color: #000
		border-radius: 4px !important
		border-color: transparent
		box-shadow: inset 0 2px 2px #c2c2c2
		background: $light
		+placeholder
			color: #878787 
		&:hover
			+placeholder
				color: #000
			+ i
				+s(glass-h)
		&:focus
			outline: none !important 
			border-color: $red  
			+box-shadow(0 0 7px rgba(255,53,3,.86), inset 0 2px 2px rgba(0,0,0,.14))
			+placeholder
				color: $red 
			+ i
				+s(glass-act)
	i
		position: absolute
		top: 50%
		z-index: 2
		margin-top: -9px
		right: 16px  
		+s(glass)

.btn-group_tabs
	.btn
		margin: 0 !important
		padding: 5px 31px
		height: 43px
		font-size: 16px
		background: #ececec
		+box-shadow(0 1px 0 rgba(0,0,0,.1), inset 0 1px 1px #fff)
		+g(#fff, #ececec)
		+box
		border: 0
		border-left: 1px solid #cdcdcd
		border-bottom: 1px solid #b4b4b4 
		&:hover
			color: $red
			margin-left: 0
			z-index: 1 
		&:focus,
		&.is-active
			background: #595959
			color: #fff 
			+box-shadow(inset 0 2px 2px rgba(0,0,0,.65))

.btn-group_equal
	.btn
		width: 33.3%
.checkbox
	margin: 0 0 16px
	padding-left: 0
.checkbox__in
	position: relative
	height: 20px
	line-height: 20px
	display: inline-block
	span
		position: relative
		padding-left: 29px
		font-size: 16px
		color: #424242 
		+unselectable
		&:before
			content: "" 
			position: absolute
			left: 0
			top: 0
			width: 18px
			height: 18px
			background: #fff
			+box-shadow(0 1px 1px rgba(0,0,0,.38))

	input
		position: absolute
		left: 0
		z-index: 2
		top: 50%
		margin: -9px 0 0 0 !important
		width: 18px
		height: 18px
		opacity: 0 
		&:checked
			+ span
				+fbold
				color: #000 
				&:before
					background: #595959
					+box-shadow(inset 0 2px 2px rgba(0,0,0,.65))
				&:after
					content: ""
					position: absolute
					top: 5px
					left: 2px
					+s(check)  

.title
	font-size: 23px
	font-weight: normal
	color: #000 
.filter-view
	a
		display: inline-block
		margin-left: 24px
		vertical-align: middle
		font-size: 15px
		+fbold
		color: $dark_gray 
		&:hover
			text-decoration: none
		&.is-active	
			span
				color: $red
				border-bottom-color: transparent  
	span
		display: inline-block
		vertical-align: middle
		line-height: 1
		border-bottom: 2px dotted #bebebe 
	.icon
		margin-right: 5px

.time
	font-size: 18px
	color: #fff
	text-shadow: 0 1px 2px #000 
	.icon
		margin-right: 9px
.like
	font-size: 18px
	color: $green 
	text-shadow: 0 1px 1px rgba(0,0,0,.6) 
	&:hover
		color: $green 
		text-decoration: none
	.icon
		margin-right: 8px