// ------------------ main settings -------------------------- //
input[type="submit"],
button
	cursor: pointer  
	&::-moz-focus-inner
		padding: 0
		border: 0
button
	&:active
		outline: none !important
		&:focus
			outline: none !important
	&:focus
		outline: none !important
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus 
	outline: none
+font(GEInspiraLight, GEInspiraLT)  
+font(GEInspiraReg, GEInspira)  
+font(GEInspiraMed, GEInspira-Medium)  
+font(GEInspiraBold, GEInspira-Bold)  
+font(PFAgoraRegular, PFAgoraSlabPro-Regular)
+font(PFAgoraBold, PFAgoraSlabPro-Bold)
+font(rub, alsrubl-tahoma-regular)
+font(rub-b, alsrubl-tahoma-bold)
=rub
	font-family: "rub", Verdana, Arial, sans-serif 
=rub-b
	font-family: "rub-b", Verdana, Arial, sans-serif 
=flight
	font-family: "GEInspiraLight", Arial, sans-serif 
=freg
	font-family: "GEInspiraReg", Arial, sans-serif 
=fmed
	font-family: "GEInspiraMed", Arial, sans-serif 
=fbold
	font-family: "GEInspiraBold", Arial, sans-serif 
=freg2
	font-family: "PFAgoraRegular", Verdana, Arial, sans-serif 
=fbold2
	font-family: "PFAgoraBold", Verdana, Arial, sans-serif 
$light: #fafafa
$light2: #f7f7f7
$text: #858585
$dark: #4c4c4c
$dark_gray: #373737
$red: #dc2b00
$green: #84cf23
html
	+scrollbar
		width: 6px
	+scrollbar-track
		background: none
	+scrollbar-thumb
		border-radius: 3px
		background: #535353
	+scrollbar-track-piece 
		width: 6px 
		border-radius: 3px
	+selection
		background: rgba(19, 122, 233, .2)

body
	min-width: 1024px
	background: $light url(../img/body-bg.png) 0 0 repeat
	color: $text
	+freg
	line-height: 1.5  
	font-size: 13px 
	&.index-page
		background: $light 
		.page-footer
			border-top: 0
		.container
			width: 970px
.container
	margin: 0 auto 
	width: 993px
.row
	margin: 0
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	padding: 0
.icon-rub
	+rub
	font-style: normal
// ------------------ header -------------------------- //
.page-header
	position: relative
	z-index: 2000
	margin: 0
	padding: 22px 0 
	background: $light 
	+box-shadow(0 0 3px rgba(0,0,0,.5))
	.btn_red
		float: right
	.btn-group_simple
		float: left
		margin: 12px 0 0 32px 
		&:hover	
			strong
				border-color: $red 
			.caret
				border-color: $red transparent transparent transparent
		&.open
			strong
				border-color: #f00
			.caret
				border-color: #f00 transparent transparent transparent
		.btn-default
			background: none
	.filter-view
		float: left
		margin: 9px 0 0 26px
		span
			line-height: 1.5
			border-bottom: 1px solid #c3c3c3 
		a
			&:hover
				span
					color: $red
					border-bottom-color: $red 
			&:active
				span
					color: #f00 
					border-bottom-color: #f00 
.logo
	float: left
	+s(logo)     
.btn-group_lang
	float: right
	margin: 8px 22px 0 0
	font-size: 14px
	color: $dark_gray 
	&:hover
		.caret
			border-color: #f00 transparent transparent transparent
	&.open
		background: $dark
		border-radius: 5px
		.btn
			background: $dark 
			.caret
				+arr(10,6,#fff,t)
	.btn
		position: relative
		padding: 3px 7px 3px 9px 
		z-index: 1001
		border-radius: 5px
		background: #fff
		border: 0
		+box-shadow(0 1px 1px rgba(0,0,0,.2))
		.icon
			position: relative
			top: -3px
			margin-right: 8px

	.dropdown-menu 
		margin-top: -1px
		padding: 0 
		width: 100%
		overflow: hidden
		width: 110px
		border-radius: 3px
		background: #fff
		border: 0
		+box-shadow(0 1px 1px rgba(0,0,0,.2))
		li
			border-top 1px solid #dfdfdf
			a
				padding: 8px 9px      
				&:hover
					color: #fff 
					+g(#ea5f3d, #d42b02)      
			.icon
				position: static
				margin-right: 5px

.btn-group_metro
	float: left
	width: 253px
	&:hover
		.btn
			strong
				color: #f00
		.caret
			border-color: #f00 transparent transparent transparent 
		.icon-metro
			+s(metro-h)
	&.open
		.caret
			border-color: #fff transparent transparent transparent 
		.icon-metro
			+s(metro-act)
		.btn
			background: #4b4b4b
			+box-shadow(inset 0 2px 2px rgba(0,0,0,.4))
			strong
				color: #fff 

	.btn
		position: relative
		width: 100%
		text-align: left
		z-index: 1001 !important
		padding: 0 14px
		height: 43px
		border-radius: 3px
		background: #ececec
		border: 0
		+box-shadow(0 1px 1px rgba(0,0,0,.36), inset 0 1px 1px #fff)
		+g(#fff, #ececec)
		&:hover,
		&:active
			z-index: 1001 !important
		strong
			font-weight: normal
			color: #000
			font-size: 16px
			+fbold 
	.caret
		position: absolute
		top: 50%
		margin-top: -3px
		right: 14px
		+arr(8,7,#878787,b)
	.icon-metro
		position: relative
		margin-right: 8px
		top: -3px
	.dropdown-menu   
		margin: -41px 0 0  
		padding-top: 48px 
		width: 100%
		border-radius: 3px
		background: #fff
		box-shadow: 0 1px 3px #000
		border: 0
		+box
		&:hover,
		&:active
			z-index: 1000 !important  
		ul
			list-style-type: none 
			padding: 0
			margin: 0 6px 0 0  
			height: 337px
			overflow-y: auto
		li
			padding: 0 9px 0 18px 
			background: #fff
			&:first-child
				a
					border-top: 0
			&:hover
				position: relative
				z-index: 2  
				+box-shadow(0 1px 0 #d32900)
				+g(#e95b37, #d32900)  
				a
					border-top-color: #e95b37
					color: #fff   
		a
			display: block
			padding: 7px 0 
			font-size: 16px
			border-top: 1px solid #b2b2b2 
			color: $dark 
			&:hover
				text-decoration: none

// ------------------ footer -------------------------- //
.page-footer
	border-top: 1px solid #ccc 
	.container
		+clr
.page-footer__top
	padding: 40px 0 30px
.footer__seo
	float: left
	margin: 0 30px 0 16px
	width: 322px
	.logo
		float: none
		display: block
		margin-bottom: 3px
	p
		margin-bottom: 17px
.footer__nav
	position: relative
	padding-top: 46px
	width: 145px
	float: left
	&:nth-child(2)
		width: 205px  
	&:nth-child(3)
		width: 235px 
	.page-footer__title
		position: absolute
		top: 0
		left: 0
		color: #000 
	ul
		margin: 0
		padding: 0
		list-style-type: none 
	li
		margin-bottom: 11px
	a
		color: #858585
		font-size: 15px 
		line-height: 1.3
		text-decoration: none
		border-bottom: 1px solid #d5d5d5
		&:hover
			color: $red  
			border-bottom-color: #f4ab99 
.page-footer__bottom
	padding-top: 41px
	height: 203px
	+box
	background: url(../img/footer-bg.png) 50% 0 repeat
.page-footer__soc
	float: left
.page-footer__counter
	float: left
	margin-left: 37px
.page-footer__created
	float: right
	margin-top: 54px
	color: #807d78 
.page-footer__title
	margin-bottom: 15px
	font-size: 16px
	letter-spacing: 2px
	color: #fff
	text-transform: uppercase
	+fbold 
.counter
	display: inline-block
	vertical-align: middle
	font-size: 0
	div
		position: relative
		display: inline-block
		margin-right: 7px
		vertical-align: middle
		&:first-child
			&:before
				content: ""
				position: absolute
				top: 50%
				left: -5px
				margin-top: -3px
				width: 3px
				height: 6px
				background: #666  
				border-radius: 5px
		&:after
			content: ""
			position: absolute
			top: 50%
			right: -5px
			margin-top: -3px
			width: 3px
			height: 6px
			background: #666  
			border-radius: 5px
	span
		display: block
		position: relative
		z-index: 2
		text-align: center
		width: 45px
		height: 52px
		line-height: 52px
		color: #fff
		+fbold 
		&:before,
		&:after
			content: ""
			position: absolute
			left: 0
			right: 0
			height: 25px 
			background: #000 
		&:before
			top: 0
		&:after
			bottom: 0
	i
		position: relative
		z-index: 2
		font-style: normal
		font-size: 50px
			
.counter-text
	display: inline-block
	margin-left: 8px
	vertical-align: middle
	+fbold  
	font-size: 16px
	color: #a8a8a8
	line-height: 1 
.logo-created
	display: inline-block
	margin-left: 10px
	vertical-align: middle
	+s(logo-created)   
	+opacity(.5)
	+tr(opacity .2s linear)
	&:hover
		+opacity(1)
