.main-col
	float: right
	width: 668px
	margin-bottom: 10px
.item-wrap
	+clr
.item
	position: relative
	float: left
	margin: 0 0 20px 20px 
	height: 390px
	width: 313px
	&.is-active
		padding-right: 0
		width: 313px
		.item__in
			left: -263px
		.item__info-hide
			+opacity(1)
			z-index: 5
		.item__info
			left: 313px
		.item__action
			+opacity(0)
			top: -70px
.item__wrap
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 313px
	height: 390px
	overflow: hidden
	+box-shadow(0 0 2px rgba(0,0,0,.3))
.item__in
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 313px  
	height: 390px
	+tr(all .1s linear)
.item__card
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 313px
.item__img
	position: relative
	height: 203px
	overflow: hidden
	img
		display: block
		width: 100%
		height: auto
.item__img-link
	position: absolute
	top: 0
	right: 0
	left: 0
	height: 216px
	z-index: 1
	+tr(all .2s linear)
	+background-image(linear-gradient(bottom, rgba(0,0,0,.9) 0%, rgba(0,0,0,0) 40.26%, rgba(0,0,0,0) 100%))
	&:hover
		+opacity(.7)
.item__action
	position: absolute
	top: 7px
	right: -6px
	z-index: 4
	+box
	height: 33px
	line-height: 33px
	padding: 0 8px 
	background: #c82700
	font-size: 18px
	color: #fff
	+fbold 
	+box-shadow(0 2px 1px #961c00)
	+opacity(1)
	+tr(all .2s linear)
	text-shadow: 0 1px 1px #601200
	+background-image(linear-gradient(bottom, #c82700 0%, #e72d00 100%))
	&:hover
		color: #fff
		text-decoration: none 
	&:before
		content: ""
		position: absolute
		left: -18px
		top: 0
		+s(badge)
	&:after
		content: ""
		position: absolute
		bottom: -9px
		right: 1px
		z-index: -1
		+s(badge-arr)
	.icon
		margin: -5px 0 0 4px 
.item__time
	position: absolute
	bottom: 15px
	left: 20px
	z-index: 2
	font-size: 16px
	color: #fff 	
	text-shadow: 0 1px 1px #000
	.icon
		margin-right: 11px
.item__counter
	position: absolute
	cursor: pointer
	z-index: 2
	right: 20px
	bottom: 18px
	color: #fff
	line-height: 1.2
	font-size: 16px 
	+opacity(.5)
	border-bottom: 1px dotted 
	+tr(opacity .2s linear)
	&:hover
		+opacity(1)
.item__action-info
	display: none
	position: absolute
	top: 0
	left: 0
	bottom: 0
	z-index: 3
	height: 203px
	line-height: 203px
	width: 100%
	background: rgba(0,0,0,.6) 
	font-size: 16px
	color: #fff
	text-align: center 
	text-shadow: 0 1px 1px #000
	div
		display: inline-block
		width: 80%
		vertical-align: middle
		line-height: 1.2
		span
			display: block
			margin-bottom: 2px
			font-size: 40px
.item__main
	padding: 17px 20px
	font-size: 15px
	color: #858585  
	background: #fff 
	+box
	height: 187px
.item__title
	margin-bottom: 7px
	+clr
.item__title-link
	float: left
	max-width: 200px
	a
		font-size: 23px
		color: #000
		+tr(color .2s linear)
		&:hover
			color: #d73000 
			text-decoration: none
.item__like
	float: right
	margin-top: 8px
	position: relative
	padding-left: 26px
	color: #727272
	font-size: 16px
	&:hover
		color: #727272
		text-decoration: none
	&:before
		content: ""
		position: absolute
		left: 0
		top: 0
		+s(like) 
.item__text
	margin-bottom: 19px
	height: 64px
	overflow: hidden
	border-bottom: 1px solid #e6e6e6 
.item__metro
	.icon
		margin-right: 8px
		
.item__info
	position: absolute
	left: 320px
	top: 0
	bottom: 0
	z-index: 3
	width: 263px
	+gpu
.item__info-hide
	position: absolute
	left: -50px
	top: 0
	bottom: 0
	width: 50px
	border: 0 !important
	background: rgba(0,0,0,.5)   
	+opacity(0)
	z-index: -100
	+tr(opacity .2s linear)
	i
		position: absolute
		top: 27px
		left: 15px
		+s(arr3)
.item__list
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	padding: 21px 14px 21px 28px 
	background: #fff 
	strong
		display: block
		margin-bottom: 12px
		+fbold
		font-weight: normal
		font-size: 18px
		color: #000 
	ul
		list-style-type: none
		margin: 0 10px 0 0
		padding: 0 0 15px 0
	li
		border-top: 1px solid #e6e6e6 
		padding: 6px 0   
		font-size: 14px
		
		&:first-child
			border-top: 0
		div
			color: #858585
		a
			color: #353535
			&:hover
				text-decoration: none
				div
					color: #353535
	.scroll-pane
		position: relative
		height: 317px   
		&:after,
		&:before
			content: "" 
			position: absolute
			left: 0
		&:before
			top: 0
			+s(shadow-t)
		&:after
			bottom: 0
			+s(shadow-b)
	.icon
		margin-right: 6px


.search-error
	position: relative 
	margin: 0 0 48px
	padding: 28px 0 37px
	text-align: center
	font-size: 16px
	color: #666 
	line-height: 1.2
	&:after
		content: "" 
		position: absolute
		bottom: -17px
		left: 50%
		margin-left: -238px
		+s(error-shadow)
	+
		.title
			margin-bottom: 21px
.search-error__in
	margin: 0 auto 
	width: 370px
	.icon
		margin-bottom: 20px
	strong
		display: block
		font-size: 23px
		color: #000 
		
.map
	position: relative
	top: -90px
	height: 902px
	.sidebar
		position: absolute
		left: 0
		top: 72px
		bottom: 0
		z-index: 3
		overflow-y: auto
	.sidebar__in
		height: 100%
		+border-radius(0)
.google-map
	position: absolute
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 1