// default layout
.main-section
	border-top: 1px solid #e6e6e6  
	background: #f7f7f7 
.l-cols
	+clr
	.l-col1
		float: left
		width: 29%
		+box
	.l-col2
		float: left
		position: relative
		z-index: 2
		margin-left: -1px
		padding-left: 2%
		border-left: 1px solid #e4e4e4    
		width: 71%
		+box     
 