/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: pfagorasanspro-reg; src: url("fonts/pfagorasanspro-reg.eot"); src: url("fonts/pfagorasanspro-reg.eot?#iefix") format("embedded-opentype"), url("fonts/pfagorasanspro-reg.woff") format("woff"), url("fonts/pfagorasanspro-reg.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: pfagorasanspro-medium; src: url("fonts/pfagorasanspro-medium.eot"); src: url("fonts/pfagorasanspro-medium.eot?#iefix") format("embedded-opentype"), url("fonts/pfagorasanspro-medium.woff") format("woff"), url("fonts/pfagorasanspro-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-size: 14px; font-family: "pfagorasanspro-reg", Arial, sans-serif; color: #373737; line-height: 1.14; background: white; }

a { text-decoration: none; }

.l-container { padding: 0 16px; }

.header { padding: 19px 0; text-align: center; }

.header__logo { display: inline-block; text-decoration: none; }
.header__logo i { display: block; margin: 0 auto; background: url('../img/icons-see2f2a8c34.png') 0 -89px no-repeat; background-position: 0 -45px; width: 124.5px; height: 30.5px; -moz-background-size: 125px 294px; -webkit-background-size: 125px 294px; background-size: 125px 294px; }
.header__logo strong { color: #373737; font: normal 15px "Myriad Pro", Arial, sans-serif; }

.search { padding-top: 4px; border-bottom: 1px solid #e8e8e8; background: #f6f6f6; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2); }

.search__form { position: relative; padding: 7px; background: rgba(201, 201, 205, 0.2); }
.search__form .input { padding-left: 27px; }
.search__form .btn-search { position: absolute; left: 16px; top: 50%; margin-top: -6px; }

.item { display: block; border-top: 1px solid #cccccc; padding: 20px 0 23px; color: #373737; }
.item:first-child { border-top: 0; }

.item__title { position: relative; margin-bottom: 3px; padding-right: 40px; font-size: 21px; }
.item__title .like { position: absolute; right: 0; top: 0; }

.item__meta { margin: 9px 0 21px; position: relative; color: #838383; }
.item__meta .distance { margin-right: 23px; }
.item__meta:after { content: ""; position: absolute; right: 0; top: 2px; background: url('../img/icons-see2f2a8c34.png') 0 -563px no-repeat; background-position: 0 -282px; width: 8px; height: 12.5px; -moz-background-size: 125px 294px; -webkit-background-size: 125px 294px; background-size: 125px 294px; }

.comment { margin-bottom: 21px; padding-bottom: 14px; border-bottom: 1px solid #cccccc; }

.comment__top { margin-bottom: 16px; *zoom: 1; }
.comment__top:after { content: " "; display: table; clear: both; }

.comment__pic { float: left; margin-right: 16px; width: 40px; height: 40px; overflow: hidden; -webkit-border-radius: 50%; border-radius: 50%; }
.comment__pic img { max-width: 100%; height: auto; }

.comment__meta { overflow: hidden; padding-top: 3px; color: #39515a; font-size: 16px; }
.comment__meta span { display: block; color: #838383; font-size: 14px; }

.icon-like { display: inline-block; margin-right: 6px; vertical-align: top; background: url('../img/icons-see2f2a8c34.png') 0 -308px no-repeat; background-position: 0 -154px; width: 13px; height: 14px; -moz-background-size: 125px 294px; -webkit-background-size: 125px 294px; background-size: 125px 294px; }

.icon-not-like { display: inline-block; margin-right: 6px; vertical-align: top; background: url('../img/icons-see2f2a8c34.png') 0 -270px no-repeat; background-position: 0 -135px; width: 13px; height: 14px; -moz-background-size: 125px 294px; -webkit-background-size: 125px 294px; background-size: 125px 294px; }

.map { margin: 0 auto; max-width: 640px; }
.map img { width: 100%; height: auto; }

.input { display: block; width: 100%; padding: 0 8px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 29px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: white; font-family: "pfagorasanspro-reg", Arial, sans-serif; font-size: 15px; }
.input:-ms-input-placeholder { color: #b3b3b3; font-size: 15px; }
.input:-moz-placeholder { color: #b3b3b3; font-size: 15px; }
.input::-moz-placeholder { color: #b3b3b3; font-size: 15px; }
.input::-webkit-input-placeholder { color: #b3b3b3; font-size: 15px; }
.input::placeholder { color: #b3b3b3; font-size: 15px; }

.btn-search { background: url('../img/icons-see2f2a8c34.png') 0 -346px no-repeat; background-position: 0 -173px; width: 12.5px; height: 12.5px; -moz-background-size: 125px 294px; -webkit-background-size: 125px 294px; background-size: 125px 294px; font: 0/0 a; text-shadow: none; color: transparent; }

.like { display: inline-block; position: relative; padding-left: 21px; font-size: 18px; color: #373737; font-family: "pfagorasanspro-medium", Arial, sans-serif; }
.like:before { content: ""; position: absolute; left: 0; top: 0; background: url('../img/icons-see2f2a8c34.png') 0 -222px no-repeat; background-position: 0 -111px; width: 17px; height: 19px; -moz-background-size: 125px 294px; -webkit-background-size: 125px 294px; background-size: 125px 294px; }

.distance { position: relative; display: inline-block; padding-left: 17px; font-size: 14px; color: #838383; font-family: "pfagorasanspro-medium", Arial, sans-serif; }
.distance:before { content: ""; position: absolute; top: 1px; left: 0; background: url('../img/icons-see2f2a8c34.png') 0 -381px no-repeat; background-position: 0 -191px; width: 12.5px; height: 13px; -moz-background-size: 125px 294px; -webkit-background-size: 125px 294px; background-size: 125px 294px; }

.info { padding: 11px; border: 1px solid #cccccc; -webkit-border-radius: 4px; border-radius: 4px; color: #838383; }
.info li { position: relative; margin-top: 10px; padding-left: 25px; }
.info li:before { content: ""; position: absolute; left: 0; top: 1px; }
.info li:first-child { margin-top: 0; }

.info__time:before { background: url('../img/icons-see2f2a8c34.png') 0 -443px no-repeat; background-position: 0 -222px; width: 16px; height: 15px; -moz-background-size: 125px 294px; -webkit-background-size: 125px 294px; background-size: 125px 294px; }

.info__text:before { background: url('../img/icons-see2f2a8c34.png') 0 -523px no-repeat; background-position: 0 -262px; width: 16px; height: 15px; -moz-background-size: 125px 294px; -webkit-background-size: 125px 294px; background-size: 125px 294px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
