.input
	display: block
	width: 100%
	padding: 0 8px 
	+box
	height: 29px
	+border-radius(4px)
	background: #fff
	+reg
	font-size: 15px
	+placeholder
		color: $light
		font-size: 15px 
.btn-search
	+sr(glass)
	+hide-text