+font(pfagorasanspro-reg, pfagorasanspro-reg)
+font(pfagorasanspro-medium, pfagorasanspro-medium)
=reg
	font-family: "pfagorasanspro-reg", Arial, sans-serif 
=med
	font-family: "pfagorasanspro-medium", Arial, sans-serif 
$gray: #838383
$dark: #373737    
$light: #b3b3b3
$black: #22282e
$border: rgba(#000,.2)         
$red: #dd2b00         
body
	font-size: 14px 
	+reg  
	color: $dark 
	line-height: 1.14
	background: #fff 
a
	text-decoration: none
.l-container
	padding: 0 16px 
.header
	padding: 19px 0 
	text-align: center
.header__logo
	display: inline-block	 
	text-decoration: none
	i
		display: block
		margin: 0 auto 
		+sr(logo)
	strong
		color: $dark 
		font: normal 15px "Myriad Pro",Arial,sans-serif 
		
.search
	padding-top: 4px
	border-bottom: 1px solid #e8e8e8 
	background: #f6f6f6 
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
.search__form  
	position: relative
	padding: 7px 
	background: rgba(#c9c9cd, .2)
	.input
		padding-left: 27px
	.btn-search
		position: absolute
		left: 16px
		top: 50%
		margin-top: -6px

.item
	display: block
	border-top: 1px solid $border
	padding: 20px 0 23px 
	color: $dark
	&:first-child
		border-top: 0
.item__title
	position: relative
	margin-bottom: 3px
	padding-right: 40px
	font-size: 21px
	.like
		position: absolute
		right: 0
		top: 0
.item__sub-title
	font-size: 16px
.item__meta
	margin: 9px 0 21px
	position: relative
	color: $gray 
	.distance
		margin-right: 23px
	&:after
		content: ""
		position: absolute 
		right: 0
		top: 2px
		+sr(arr2)
.item_card
	border: none
	border-bottom: 1px solid $border
	padding: 16px 0 19px 
	.item__meta
		margin-bottom: 0
		&:after
			top: auto
			bottom: 5px
			+sr(arr1)
.comment
	margin-bottom: 21px
	padding-bottom: 14px
	border-bottom: 1px solid $border 
.comment__top
	margin-bottom: 16px
	+clr
.comment__pic
	float: left
	margin-right: 16px
	width: 40px
	height: 40px
	overflow: hidden
	-webkit-border-radius: 50% 
	border-radius: 50% 
	img
		max-width: 100%
		height: auto 
.comment__meta
	overflow: hidden
	padding-top: 3px
	color: #39515a 
	font-size: 16px
	span
		display: block
		color: $gray
		font-size: 14px
.icon-like
	display: inline-block
	margin-right: 6px
	vertical-align: top
	+sr(like)
.icon-not-like
	display: inline-block
	margin-right: 6px
	vertical-align: top
	+sr(dont-like)

.map
	position: relative
	margin: 0 0 20px 
	text-align: center
	border-bottom: 1px solid $border 
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 30px
		+g(rgba(#000, .2),rgba(#000, 0)) 
	img
		display: block
		width: 100%
		height: auto
.map__info
	position: absolute
	bottom: 0
	left: 0
	right: 0
	padding: 16px 
	line-height: 1.62
	text-align: left
	+box-shadow(inset 0 1px 0 rgba(255,255,255,.6))
	+background-image(linear-gradient(bottom, #fff 0%, rgba(255,255,255,.95) 100%))
	font-size: 16px
	div
		position: relative
		z-index: 2
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 20px
		+g(rgba(#fff, .95),rgba(#f6f6f6, 1)) 
	.icon-metro
		margin-right: 12px
.icon-metro
	display: inline-block
	+sr(metro)
		
.card
	position: relative
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 1px
		background: rgba(#fff,.5)  
.card__header
	position: absolute
	left: 0
	right: 0
	top: 0  
	height: 45px
	line-height: 45px
	z-index: 1000
	text-align: center
	font-size: 19px
	color: #21272d
	text-shadow: 0 2px 0 rgba(255,255,255,.6)
	+box-shadow(inset 0 -1px 0 rgba(255,255,255,.6))
	+background-image(linear-gradient(bottom, rgba(255,255,255,.7) 0%, rgba(255,255,255,.95) 100%), linear-gradient(right, rgba(248,248,248,.5) 0%, rgba(249,249,249,.5) 50.76%, rgba(248,248,248,.5) 100%)) 
.card__main
	background: #e5e5e5 url(../img/card-bg.png) 0 0 repeat
	padding: 0 0 23px 
.slider  
	border-bottom: 2px solid $red     
	text-align: center
.fotorama
	visibility: hidden
	&.is-visible
		visibility: visible
.fotorama__nav-wrap
	position: absolute
	left: 0
	right: 0
	bottom: 0
.fotorama__dot
	width: 8px
	height: 8px
	-webkit-border-radius: 50%
	border-radius: 50%
	border: 0
	background: rgba(255,255,255,.2)
.fotorama__active
	.fotorama__dot
		width: 8px !important
		height: 8px !important
		-webkit-border-radius: 50%
		border-radius: 50%
		border: 0
		background: #fff 	
.promo-info
	position: relative
	margin: 18px 0 
	padding-left: 28px
	&:before
		content: ""
		position: absolute
		top: 2px
		left: 0
		+sr(message-act) 
.fotorama__arr
	display: none !important