+font(pfagorasanspro-reg, pfagorasanspro-reg)
+font(pfagorasanspro-medium, pfagorasanspro-medium)
=reg
	font-family: "pfagorasanspro-reg", Arial, sans-serif 
=med
	font-family: "pfagorasanspro-medium", Arial, sans-serif 
$gray: #838383
$dark: #373737    
$light: #b3b3b3
$black: #22282e
$border: rgba(#000,.2)         
$red: #dd2b00         
body
	font-size: 14px 
	+reg  
	color: $dark 
	line-height: 1.14
	background: #fff 
a     
	text-decoration: none
.l-container
	padding: 0 16px 
.header
	padding: 19px 0 
	text-align: center
.header__logo
	display: inline-block	 
	text-decoration: none
	text-align: center
	i  
		+svg(125,31,logo) 
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPkAAAA9CAYAAABvNs8yAAAACXBIWXMAAAsSAAALEgHS3X78AAAA GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAE69JREFUeNrsXQmYFMUVrsVFQQyi rhgOQUHYAwUURDCughoQJGjQVRA1GJR4BvXDI4mJRI33Ad7GEwUFNd4IggFRBNcDEJBdwANWVPBA 0VUUYSf/P/OWDENX9TE9PTN+9b7vfb07XfW6uur9dbx69bpAWbIUER100EGn49LXY/JrKysr50dc vhtxaeMx+WiUryYf6r3Qqp6lCOkAcIXHtOOzUD52QPt5THtlvlR6A6t3liz9ssmC3JIlC3JLQWhd J9UoA2vGHcB2iWXJgjzb9FUn1Tqm1LSQAd4cl/+Cm9gatuSH7KgQPsB74PIMeMcQAd4Jl+fBe+dz 3VRWVp6Ny9kp7/YCLkfnSPk6O9T9N7jsbEdyS/UAPxGXV8AtQgR4f1zm5TvALdmRPK/py06qAJfL MEX/J64FIQJ8FC43gbeztWzJgjx7AG+Iy8PgISGCmzOsO8Bn2hq2ZKfr2acWYQJc6FcW4JbsSJ4j FLNVYMmO5JYsWbIjeYbo84RBrJm856bm76mv7UhutAVwmdBQ6mtjZWXlNxYiWWmHrfQW7fB15CAH eJrispdK7B9yNrAO/CVA9JlLPha8u8fHrIG8JT7LtScux4IPBXeRMjZMur8Jl5XgReCZ4OfxjBqf z6D8nkk/NdUkbYS012ruPYTnVic16lG49E66v4OhCGOQ/ieH3ydBGRb6UKQOuAwCHyh1xdNXO6ak 4XNWgNkO08FP4RnrcwgM1Ke2Agj2t1+BP0IZf8gzUFNPjxG97Szv1DDpPvX2I9FbOkQ9i3f8NFSQ r+0U38L5LfgE8BExzXE8pPsSl9ngp8FP7vGe+ill1NsXlxkey/YoeJjH8hEkF0F+H2XewuL77iM8 GDwOeafiehXKWulx5OZJpbM8JCVQL9Hcew1cnfT/YYa0qXS+5ncqwEIXZWKHPBQ8GtzV4zvsK0zj 4jjIuAXXa6BkP2ZphDsSfDy4n4AhleqQjp3SS9QhPx1fFt5nAPVW2t9NbzsIHwe+DXlfxPUKvN/b aa3J15apAvAwaHYVeCr4NHCbeJ/pzEXg48ATwKuRdzS48VZzWz/sBu4ytQ/4JSnb4eACn8/YDjwQ PA9yHgHv4ml+HgZHr1AHy4g8wSPAnYjT+X+A50FeyyjBDWbntFRmFCM1AK/X6c4CngXINxPcM8fA 3RHMEXmKzOD8+lZw0P0d+E3IeQDcNBDI15SpPaCL08ETwB0C6HER+AbwEsg6OGyMQ+ZgpFnAkTUE zBWAT6Y8yO38S8M4lOAcmWGVhiSSncR0yN0lgrLT02+WzOxKAojg7G4u5NzMAz45AHDOht8BHx6C OHYOp4HnQ26JL5BD0UukIEeGUJB2VDDIHBVWRUEWe/LHwTuF3AZtpaxd1S+E0Pjn4nK7Ct/ISn/6 WzNcdvq0L5DpbLpguIBT+Cg6JsP70G//sQzobXvw65C/n6c1+Wdlqk0s0XP+OsRC8DljxWiQFqF8 J6B8d3uY4tD4MlcMFuvEONNGDE1FhnxMNx3P6d5i6bZGuVh+Aby31LuJNqjEibnXxShJw9qu4GLw QHAPQ95heMY4L+vCAHSKrL3DdOllZzEVZT48auMcnjlMOls3vf1e9HZlkt5y8Onuore7yrv1SDXK FaYAaHta7jwCnJbMN1XC+kpFYQ+5h4BIt147QvP7++AbHH5LBTgNZve7VBQPc1zHFwZINzrI4Oyl XIxPAzUydgdPQtpyyNicco9r0huT/m8phrRU+s6w9l2T8j/f/d6Ute9Cw1T5O4ffP09RKp5nv88A kp9Vwi/+BijFOk2aK8Xyz1BMzTUjJA2BJ2cAFyca7tHA+wb4A/CPYiDkjLGnppxbVQ34ARW+l6IJ 4JwZ/9tFb18XvZ2G9vhZYzTtI7aGfhoZrThTQNo+kFGX3Ehb6NMyNQaXy13K/Cr4avDLLbcFAGVQ Zi/wpWIc8EJzIKvclEDkzhaAOhEBfTGnkJDlacCFTBpz7hFQOdGfIes2FxmcHaxyuLUeeZsFVApu Ter2qJt52caSdfjtmtvsEAZBTqXH8uwnnWcTzchTFNTa7vOoKWcMf+dMK1mJU4DA0fqvHpaap0LG Ix7Kpztq2hn5F3sxGgqAe2mSsN7OhqwHfdTZqdK2Or09E/Lu2WZN/kmZagFkXGwwFm0EnwXuDeV9 yQng8WENAAPPBQ9CWk6ta8MwRCENDW3lmvybwUPxzHFeAS5lfQyJDwf/oJE7BvXSNKghLsv0sqxD eQ792+TOhwDwCnCSKPP1mttN1NZ+A5kgduBcz3IqOs0J4FLOOvAsMLd7R4B/Msi8DmCJIgDHEAPA iaET/QBc3pMHovrKklQ3A2viZHjjtKuxqTCtlqq7W/kAEdI+gUt/aaR06S+Ge1fhWU8FEYp8byv9 3jPXOX/KR4MbFGEZeCyYDi+7CRA5wg31MgI50J2GdsykobJOynwXOObj/R+QNf1mTRIeLPpjBE1x seHe5SjncwHbl8uVUYbl5hlbgXx1mWqI2jvNMCpdATA8ExBEc5B/dDojOcrXDWm6afJ+FkusZQIT 8t8Pnq+Rf8bqMv1aKodH8mSFoGskiU4sUwPK4DpYN/q3z2DxaTN4KmCZuRS42ZDkvAyvxX9j6AA/ drBD+SXap97V3Dt965E8pg4B767R1pXgtECE/HeAFwdGREydYMg7qfXSuOEvMCF/HeTcqpHfAby/ ymeUh0eLNL/vlqHn0Uo8Jk0Zl4F1rssdAMRuGayv4w337kUnlNYMV2Y2OrtLp/ottQaipyaHknGt q4xrG3cQVak6yBkbHOOqnyHvM2G0BuS8YHhGf4vxhOlG83vTDD3vtnTdZwVIdxuSDMhgfR1luBdW oM8pbs8vFEU90KDDk0MC0X+kshv6yVdTqnYSn3cdvRdG+fasUl/hWbSSO7lL9jCBPF9JjDNtk2wx nJLXGNa+UZ9KeywkOVyfX6Wcnb96Zahu630NdGqzKKSl2Gd41lqV2L7ephhbQA4q08ioblNlPlnm lSBnPUC0QJmdK5yIFaXb6+XpnNNrSkNrm+2yYFiKGthseG7BcIuJBx5S7Q0/yAGPOSpxyOOVdKeV AelDPHdVSEBYi3fiYODkEbZfhspfovT74pwZn59oilCoTvN73EW7cFWp2j7m3Asow6I+6Gi+xC/I Y4njojpiJ3VtBArXEvVU2LYq3qnk5UgOheJ3yOj9Vu6SdEdpI/KF4K+R9ykx8kRJ72ZAnhOgW+L9 ts9AR2bS20YR6W0b7tMXxhLrqQY+12BBQV4TIE9RDmCEnQk9+r7IR5CjoXk0dpzfpZIQ33uE8LcR FntVRPIayFT345Cflwux2ukJ2LSBMn8EoDbkhwYx4DXOEaw0VnlIEtb5zoAAT6WmERY9bN/y2ojb Nlc+yNCEI3ldgDVq0JF8+wB5NuZIZcU8/5g7AGekkZvy1HxQF0X7JY14YVOu6O3GwljM8bDDll4g 1FqOxT3I/OYx7YHTMBRV5I8vNOXLVYBzlnaXh46aYFoOpoGVByN2lbVrts9eh+1yavoAZSZCWn1v uEdX46UR1WMt15rfSeM6TefC/jRP2wB51hjuTW1XHV9rWtqW6M5aZrjP4IDcVnoo9RSaBFeg4a1C JSzx2Zh6tglZ3p4BARmUTDHYXkKd3xFVRRYCJHUflMQNYk6uid3DehCewegrhwSYY31kuN0xJ+fw uUGmo5Q8xsvjiKudbuJ32k54fPY1AJ7+7jzRxiOOu0VY/rC3LXW+Ft/hfb/KQPlXGu61j1IR6j3e Fmq8tlq/X2IcDfyAoYuEhPLlHYZ7Kwwn2Q7JBZDnqMfboYbpeYUO4A6ArwVfJx3qAxGWv71EMQ1j 6UKD4QGGDi8TVKX0xsOjIge5Spx31dFpIT1rRJBM+1THTxHN09zujE4oVGcGyKPMA/J5ni7x03Vf Vp0VJIKpTOnHRvwqJ4Uk50Sl3114MxMF56EglTj/7kSlpphsAdu8K7iLaSSfahiRRq4oSS8UFPLv BTkj0vBdf86Q97KwKgrl3BnyJoPfxt9PgF196XJ0JDfFMVuaR/3VeVDcHdNU/vroNTp6JYPlf9Zw 77IQAU6bCWMeMqDjZHDxNiDvUK2qDVP2puDxy0uCbacxH/LfB26cBsiflKAVTnlPwDMGp1tRkMHy TQKXSPTW4+mhh9/57u0CgHyHHAVOUUBFopH2lIjLysHl8nQ7CqU3QNL28GIGy894Cpt0sxTU6cAQ AM5dCH7noIPgmdFgl+D3B+uXO8mebqbIm4xCcSeUvYFfgKtEnLEj0nmRjtVxC/skQ5KH8axD0gA4 R75pDmslvi+ty28hjd8Im42Cdowu5MXX4EtTW8p03o8ilcmS7qIsdEoX4fmDAgKAyy6T++hkTKsz 5sUH2fSi052F5wxjgsTDDwpwbncyDn2flFvskIdTb5Gm8RbQxmJqIngF9301PBL8wrJib9tgSNca 6aeChxtkbmHXaXFMXQn+WZO/CXgGnnkO2FdHhPQDkXcx+FBD+W5ER1OrKZeJ986A7uzjQblo8NHt StBCfoNHJSoCc6uHft89VHaIYHgC5TjJJwB6q0TU4caGSdgtEZR/jGE05zT7ZZR1pCwr/LwfP9fF syCmTuJq6MKGghSF7ysjmumB3FOfqBJHUOcUL/u/8iM/exCGGRoqBjuv7oKUU+4BkP9SiRBGJuLn hxhN9WnIXKeRw5FsoEzl3I4aMsxOOWRt0shitFadj/8lyHd9SnqCrBC/rzU0IKf6unPUjJRycUp6 Wo93Sg7Fi994oMQU3ogfKxjNo4oOz+8m7fcH5S1GeKXDGvNHyJ6TIpfGptYp6bhX7/U4FnWOIZOW GeqOU3x+cupcZY41PxFyTk7J29PhfRmvwMkxZ6RDRzrH6fw7P+ygEvH2TMQTmkw3RfeBQ2ln6u0o D50ug54eAVmbtwFzdXFcKb1OyzbJ1JDnjBmZdA+XDmK1QyPHC1SybKsP/jmjtzg+VZ2tvAUOrJMR iFskjE66QcpHRevicdrL8vZC2VYbykTD0PeGNR+jva4QRekljVQBmVNcemqWt5GmzunJxqOTOwhA GBWXETofTcp/mAejEl0v50rHyL9bSd22CmEE47n0tinvRB/6s9KUG5NOhe/2oegegdlO6vcw5f4h CXawXVG+NSnl4xnvdHZr2kJmjUNbcrCbJ3rnRpuT9PaLJL0tlfxeziAwVHUvlOUL5VQZsUTARDay l+lRoRhHvFjfJ4piXu1wz9NBGABjY1Vx/Kui3PZw84jitH1/4SDEzmtAqQHgUqYfUKY1mjogCEcH fP6HGoNRofIQmwwNPBvKRYeWcpf1fW+l3DvYLBA9MX+lmb73VMEjxLIzG5oK8EwSp8xiZJunGeSS iXacA5QKvI3LAe3YeoCnGt7iBKXeLMam20N8z/Ey9Ut7Z6k0Mc0tV1t/FTRs4jTsMDzLa1TTBRko w/wQZDDSbJinuVZECHLaDR4LWSaXmoy3PivqHkucj8ozXIcc/Q/Fs5akjnZOQNoMPg+IrACvSePD fvRUOwuyhlOmbE05pdvgE+g1yNMT/HhYHyBMYm7XdcczPO8ny9562B88fDwExaLX1RCl0ovRl2Sk GhIhLgjIYWKD2RSCPM7MjkadTFZZIjx7pSyvns6AeO4+HehkrzBaosuWqSdVYv/tb7I+9UpcozKe W0fISA6it7sm/dd+3why14PpyfR7lThFlS5xCTAAMivKNAY7l6VIZciNxnDC00NQLJ546uuz/ZKJ sxn6uV8owIsSFDGGkRYj0xtpiCKoukDWjGyvQWhUA9OvY3BIozq9F/tDJpcg3+jW1G5g4nr56veK 42GZOd1gbLD6750ViXGIIzENDjRczARP67Rs26B/Mf2nZwNH5UD5nkHZnhPj03CV2Otu5DE7343O EPehvDPSKMMmlIERXfk9s+NckrM3/8SLgmMdx5C+tJJXuCT/RBmi7kDWq5BVKvaBsw2dbbLxh1Na GsqeTfpiCevrZR9rw1Sq9pF/ZVL5F8h+8gCxRxyp3I/QUifpcXYL8nt1XX1DjHJB6UcfYH8a78Ty HSN62095d6CqlUGAX16Z4fbRiYKoejCAYDtpeKcz5RWdErOGMJ7TWKZE3AZqJwq9s4xCPDe8TnpQ rnnfxHM3hvyeJdJL02jWXADDbSquk/gduXfwTF+2CShDO+k8OotM5qfhiEuK1xI6U1nnURbbgacL +X3s0iTArxdbBEeGmcmGm1wjcQLhp5B4Um1vaV++P0+TfSCzslfxDt+rPCHxXDtQZi3tBCfNZKn1 regtZ6z8pPjbfmLSRQbyJcXxkVb3SZi2+y7zH//NkiVL7lQY2ZNiWmeAd/ZdbgFuyVKmyGh4W9xR 7Qy+E7x7Og9B/tMxv+yjsTTfY5vBkqUsgBzA5NqNzvX0UFqA/wcFBDhdXHWhbrjum2CbwZKlzJF2 Tb6oo3JyQaQLJAMHPN95udmSiPwMccNjgqbjicMhZ7xtBkuWIgY5AHopLtcY8tGLii56tMTS/ZIu iLRu0srJMEG0bvdwWQ48CoAPs01gyVLEIAfAuU2zwG29niZxT/oYgHyDbQJLliJekwN4i2JKHc1P GmXAZZQ8EXysBbglS1lek7/bMe5UcoFwGN8jo0PIpV2Wq4dttVuylAMgTwI7XUSHCjPMjN+9dfo+ 0/3uXgC81la5JUs5BvJkWtgxfr6X/ut0i6T7Jl0s6XpXHx2ULnj0/eXpp7fAlV2X51V0UEuWfnH0 PwEGAD3SCPmGAEuWAAAAAElFTkSuQmCC") 
	strong    
		display: block
		color: $dark 
		font: normal 15px "Myriad Pro",Arial,sans-serif 
		
.search
	padding-top: 4px
	border-bottom: 1px solid #e8e8e8 
	background: #f6f6f6 
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
.search__form  
	position: relative
	padding: 7px 
	background: rgba(#c9c9cd, .2)
	.input
		padding-left: 27px
	.btn-search
		position: absolute
		left: 16px
		top: 50%
		margin-top: -6px

.item
	display: block
	border-top: 1px solid $border
	padding: 20px 0 23px 
	color: $dark
	&:first-child
		border-top: 0
.item__title
	position: relative
	margin-bottom: 3px
	padding-right: 40px
	font-size: 21px
	.like
		position: absolute
		right: 0
		top: 0
.item__sub-title
	font-size: 16px
.item__meta
	margin: 9px 0 21px
	position: relative
	color: $gray 
	.distance
		margin-right: 23px
	&:after
		content: ""
		position: absolute 
		right: 0
		top: 2px
		//+sr(arr2)
		+svg(8,13,arr2)
.item_card
	border: none
	border-bottom: 1px solid $border
	padding: 16px 0 19px 
	.item__meta
		margin-bottom: 0
		&:after
			top: auto
			bottom: 5px
			//+sr(arr1)
			+svg(13,8,arr2)
.comment
	margin-bottom: 21px
	padding-bottom: 14px
	border-bottom: 1px solid $border 
.comment__top
	margin-bottom: 16px
	+clr
.comment__pic
	float: left
	margin-right: 16px
	width: 40px
	height: 40px
	overflow: hidden
	-webkit-border-radius: 50% 
	border-radius: 50% 
	img
		max-width: 100%
		height: auto 
.comment__meta
	overflow: hidden
	padding-top: 3px
	color: #39515a 
	font-size: 16px
	span
		display: block
		color: $gray
		font-size: 14px
.icon-like
	display: inline-block
	margin-right: 6px
	vertical-align: top
	//+sr(like)
	+svg(13,14,like)
.icon-not-like
	display: inline-block
	margin-right: 6px
	vertical-align: top
	//+sr(dont-like)
	+svg(13,14,dont-like)

.map
	position: relative
	margin: 0 0 20px 
	text-align: center
	border-bottom: 1px solid $border 
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 30px
		+g(rgba(#000, .2),rgba(#000, 0)) 
	img
		display: block
		width: 100%
		height: auto
.map__info
	position: absolute
	bottom: 0
	left: 0
	right: 0
	padding: 16px 
	line-height: 1.62
	text-align: left
	+box-shadow(inset 0 1px 0 rgba(255,255,255,.6))
	+background-image(linear-gradient(bottom, #fff 0%, rgba(255,255,255,.95) 100%))
	font-size: 16px
	div
		position: relative
		z-index: 2
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 20px
		+g(rgba(#fff, .95),rgba(#f6f6f6, 1)) 
	.icon-metro
		margin-right: 12px
.icon-metro
	display: inline-block
	//+sr(metro)
	+svg(16,11,metro)
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAXCAYAAABqBU3hAAAACXBIWXMAAAsSAAALEgHS3X78AAAA GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA1RJREFUeNrEVt9LFFEYPfNjXW2F TDfUokj8tVsZKaSG+WBoq6uG9IN8EOqxP6XeegmiekjqqVel8iEMySC0NLWHyF6EkIKgMHVXd2Y6 n+7Itt1x/AUtHObOd8/97vm+OTN3dfznn74V0kwURd9qEOc16MedjiIg3I/HEd4zAft01BgabvNa 78cN6agl9xa5tXsiYCICk8naHKCI1/iHKAwvLue0PB1d5IbJvTARhblrAbk6wiR1O84auT2k4aRn pzREqS4uXM1BJ+9Ldi2ALY3ZrIgAUcwKe9iVQDbvfQQGq+4h51CaW8D7rl0JYEuDAQ19LAgudA2X mLhS4ZNyzl3O5Joaepkjb8cCmLSRlVSnK3JxULowntGFsXWfSPWlWdxydvDcjgXksHrbgUkgExpw LVfDsQ2faDjKWG82jzCkg2PVsmSbAvg+S5ubsira6AIrvpjhk27GSlRc/hrYsei2BQT5PFlBvqIq twvXJyMopiHDHN/w4hEhdvLKtgTw+RbQUG2swPTogCAcMnA136BQvh2b8AzmOv8ugkLVXqZH9XGK r3D8P2Q3xfC2P6+MXZBH9si3A6NV0PkpjVkOAgR8UEgUbYEXYM5W5g74CsjR0cRLraqdSzb0ZQe6 V7tlTjgeZqxj7mZfAZTYRuOEs80klfy2MbRgYdhSmG1t3sLIgo0XltqMBczduqmA11Uoo2HOqipI Olgh+pM27iUcJBXzKcYfrjh4wPGSKgdzN3CPCk8B/Gg0U+kJ1euUsDHD61smGl20MGZlVc/YOMcj xPiyjWmPVzJKMzYrBbysxH5+u2Mq5asObCZ9FZvFIiGV9ktH3HlWneLzf8K5BJEULtdYqlw0Yzv3 OvCPACqrochGD3PNrwJPXS5jQ4s2Ji2OBfTGFGOD7nyKXK75qsrFPeq516m/BLypgsZ3v4PneJ6c 5VmwaZ7n8VnMuYs4TokXVm1YAo7vM7aSMT/PNc+41lLkC3KvTtlTuBoHd2mOUs6d5r3X0fmJSr/T WQMtn/FYAoPlMFiJVG3yEXR0fZHCgeFK9Mk5IecFb6sB5UGUYHCS3pkzf1g4w0CxBNNQ/Q4T8k9o yg1wQ2ugHHeki93pzbH+OI4QLRz+In565JO/dXWy7x8BBgBzEwwlBonGHAAAAABJRU5ErkJggg==") 
.card
	position: relative
	&:after
		content: ""
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 1px
		background: rgba(#fff,.5)  
.card__header
	position: absolute
	left: 0
	right: 0
	top: 0  
	height: 45px
	line-height: 45px
	z-index: 1000
	text-align: center
	font-size: 19px
	color: #21272d
	text-shadow: 0 2px 0 rgba(255,255,255,.6)
	+box-shadow(inset 0 -1px 0 rgba(255,255,255,.6))
	+background-image(linear-gradient(bottom, rgba(255,255,255,.7) 0%, rgba(255,255,255,.95) 100%), linear-gradient(right, rgba(248,248,248,.5) 0%, rgba(249,249,249,.5) 50.76%, rgba(248,248,248,.5) 100%)) 
.card__main
	background: #e5e5e5 url(../img/card-bg.png) 0 0 repeat
	padding: 0 0 23px 
.slider  
	border-bottom: 2px solid $red     
	text-align: center
.fotorama
	visibility: hidden
	&.is-visible
		visibility: visible
.fotorama__nav-wrap
	position: absolute
	left: 0
	right: 0
	bottom: 0
.fotorama__dot
	width: 8px
	height: 8px
	-webkit-border-radius: 50%
	border-radius: 50%
	border: 0
	background: rgba(255,255,255,.2)
.fotorama__active
	.fotorama__dot
		width: 8px !important
		height: 8px !important
		-webkit-border-radius: 50%
		border-radius: 50%
		border: 0
		background: #fff 	
.promo-info
	position: relative
	margin: 18px 0 
	padding-left: 28px
	&:before
		content: ""
		position: absolute
		top: 2px
		left: 0
		//+sr(message-act) 
		+svg(16,15,chat-red)
.fotorama__arr
	display: none !important